
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright: <a href="mailto:me@erce.org">Erce Kalabalikoglu </a>

            </div>
        </div>
        <!--/.Copyright-->
