<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>

</head>

<body>
  <% include ../partials/header %>



    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
          <div class="row">

          

          </div>
        </div>
      </div>
    <!--/.Mask-->

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
      <% include ../partials/footer %>

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>


</body>

</html>
