<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>

</head>

<body>
  <% include partials/header %>



    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <ul class="animated fadeInUp">
                <li>
                    <h1 class="h1-responsive">Hi, I'm <b>Erce!</b></h1></li>
                <li>
                    <p>I'm a full stack developer and maker interested in responsive Front End Frameworks</p>
                    <p>I'm available for freelance and contract projects</p>
                </li>
                    <a href="https://github.com/ercekal" target="_blank"><img src="images/github-logo.png" height="32" width="32" alt="github" /></a>
                    <a href="https://www.linkedin.com/in/erce-kalabalikoglu-99163946" target="_blank"><img src="images/linkedin_white_t.png" height="32" width="32" alt="linkedin"/></a>
                    <a href="https://twitter.com/ercekal" target="_blank"><img src="images/twitter.png" height="32" width="32" alt="twitter"/></a>
            </ul>
        </div>
    </div>
    <!--/.Mask-->

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
      <% include partials/footer %>

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>


</body>

</html>
