<!DOCTYPE html>
<html>
  <head>
    <title>Erce's Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/head %>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <% include partials/header %>

      <main class="mdl-layout__content">
        Welcome to personal portfolio of Erce.
      </main>
      <footer class="mdl-mini-footer">
          <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
