<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>

</head>

<body>
  <% include ../partials/header %>



    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
          <div class="row">

            <div class="col s4">
              plyr2
              <a href="http://www.github.com/ercekal/plyr2" about="blank"><img src="images/plyr2.png" alt="plyr2" width="150" height="150" alt="Click to go to repo"></a>
              <p><a href="http://plyr2.herokuapp.com">Visit web app</a></p>
            </div>
            <div class="col s4">
              Code farm
              <a href="http://www.github.com/ercekal/code-farm" about="blank"><img src="images/code-farm.png" alt="Code farm" width="150" height="150" alt="Click to go to repo"></a>
              <p><a href="http://code-farm.herokuapp.com">Visit web app</a></p>
            </div>
            <div class="col s4">
              J-Eats
              <a href="http://www.github.com/ercekal/j-eats" about="blank"><img src="images/j-eats.png" alt="J-Eats" width="150" height="150" alt="Click to go to repo"><a/>
                <p><a href="http://j-eats.herokuapp.com">Visit web app</a></p>
            </div>
          </div>
        </div>
      </div>
    <!--/.Mask-->

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
      <% include ../partials/footer %>

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>


</body>

</html>
